\#board {
  border-collapse: collapse;
  font-family: monospace;
}

#cell {
  height: 55px;
  width: 55px;
  font-size: 13px;
  text-transform: uppercase;
}

td {
  text-align: center;
  font-weight: bold;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(0, 0, 0);
  background: #477f9e;
}

td.open {
  color: #555;
}

td.possible {
  cursor: pointer;
}

td.possible:hover {
  color: #96b8c3;
  background: #96b8c3;
}

.circleA {
  background-color: #e9c71d;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.circleB {
  background-color: #cb5b5b;
  display: block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: auto;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.dialog-btn {
  font-weight: 400;
  border: 2.5px solid black;
  border-radius: 1vh;
  margin: 2px;
  text-transform: uppercase;
  &:disabled {
    &:hover {
      cursor: not-allowed;
      background: inherit;
    }
    filter: opacity(0.3);
  }
  &:focus,
  &:active,
  &:focus:active {
    outline: none;
  }
  &:hover {
    background: #cccccc;
  }
}
